// = = = = = = = = = = = = = = = = = = = = = = = = =
//  Auteur : Olivier Daigneault
// = = = = = = = = = = = = = = = = = = = = = = = = =

.header{
    @include setFlex(column, start, center);
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: var(--gris-fonce);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;

    @include breakpoint-min(768){
        width: 115px;
        height: 100vh;
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    }

    &::before{
        display: block;
        position: absolute;
        width: 200px;
        height: 100px;
        padding: 0;
        content: "";
        left: 0;
        top: 0;
        z-index: -2;
        background-color:white;

        @include breakpoint-min(768){
            width: 100%;
            height: 275px;
            left: 0;
            top: 0;
        }
    }

    & .wrapLogo{
        position: absolute;
        width: 100px;
        top: 30px;

        @include breakpoint-min(768){
            top: 300px;
        }

        & img{
            width: 100%;
            object-fit: contain;
        }
    }

}