// = = = = = = = = = = = = = = = = = = = = = = = = =
//  Auteur : Olivier Daigneault
// = = = = = = = = = = = = = = = = = = = = = = = = =

:root{
    --vert-lime: #669933;
    --vert-foret: #336633;

    --gris-fonce: #333333;
}