.details{
    @include setFlex(column, start, start);
    width: 100%;
    margin-top: 100px;
    
    & .affichage-details{
        @include setFlex(row, start, start);
        width: 100%;
        min-height: 100vh;
        padding: 0 50px;

        & .fiche-image{
            @include setFlex(column, center, center);
            position: relative;
            width: 500px;
            margin: 0 30px;
            background-color: rgb(250, 250, 250);
            box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.3);

            & .swiper-wrapper{
                width: 500px;
                height: 500px;

                & .wrapImg{
                    width: 500px;
                    height: 500px;
                    overflow: hidden;
    
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &>.wrapImg{
                width: 400px;
                height: 400px;
                overflow: hidden;

                &:hover{
                    & img{
                        transition-duration: 0.3s;
                        transform: scale(1.1);
                    }
                }

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .carousel-image{
                @include setFlex(row, space-between, center);
                position: relative;
                width: 400px;
                margin: 10px 0;

                & .wrapImg{
                    width: 100px;
                    height: 100px;

                    &:hover{
                        & img{
                            transition-duration: 0.3s;
                            opacity: 1;
                        }
                    }
    
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0.7;
                    }
                }
            }
        }

        & .wrapInfo{
            @include setFlex(column, start, start);
            position: relative;
            margin: 60px 30px;
            padding: 20px;
            width: 100%;
            height: 100%;

            &::after{
                display: block;
                position: absolute;
                width: 200%;
                height: 100%;
                padding: 0;
                content: "";
                right: 0;
                top: 0;
                z-index: -1;
                background-color: rgb(250, 250, 250);
                overflow: hidden;
            }

            &>h1{
                font-size: 2em;
                font-weight: 900;
                color: var(--vert-lime);
            }
            &>h3{
                margin: 30px 0;
                font-size: 1em;
                font-weight: 300;
                color: var(--gris-fonce);
            }
            &>h2{
                @include setFlex(row, center, start);
                margin: 0;
                font-size: 1em;
                font-weight: 600;
                color: black;
            }
            & p{
                margin: 15px 0;
            }
            & span{
                padding: 0 10px 0 30px;
            }

            & .wrapPrix{
                @include setFlex(column, center, center);
                position: absolute;
                top: -20px;
                right: 20px;
                padding: 20px;
                background-color: var(--gris-fonce);

                &>h1{
                    font-size: 1.5em;
                    font-weight: 900;
                    color: white;
                }
                &>h2{
                    font-size: 1em;
                    font-weight: 600;
                    color: white;
                }
            }
        }

        
    }
}

.swiper-button-next, .swiper-button-prev{    

    &::after{
        color: white !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--gris-fonce);
        width: 100px !important;
    }
}
.swiper-pagination{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.swiper-pagination-bullet-active{
    background-color: var(--vert-lime) !important;
    opacity: 1 !important;
}