.details{
    @include setFlex(column, start, start);
    width: 100%;
    margin-top: 0;

    @include breakpoint-min(1200){
        margin-top: 100px !important;
    }
    
    & .affichage-details{
        @include setFlex(column, start, center);
        width: 100%;
        min-height: 100vh;
        padding: 0 20px;

        @include breakpoint-min(768){
            @include setFlex(row, center, center);
            padding: 0 20px;
        }
        @include breakpoint-min(1200){
            @include setFlex(row, start, start);
            padding: 0 50px;
        }

        & .fiche-image{
            @include setFlex(column, center, center);
            position: relative;
            margin: 50px 0 0 0;
            background-color: rgb(250, 250, 250);
            box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.3);

            @include breakpoint-min(768){
                margin: 0 15px;
            }
            @include breakpoint-min(1400){
                margin: 0 30px;
            }

            & .swiper-wrapper{
                width: 450px;
                height: 350px;

                @include breakpoint-min(768){
                    width: 300px;
                    height: 200px;
                }
                @include breakpoint-min(992){
                    width: 400px;
                    height: 300px;
                }
                @include breakpoint-min(1200){
                    width: 450px;
                    height: 350px;
                }
                @include breakpoint-min(1400){
                    width: 500px;
                    height: 400px;
                }

                & .wrapImg{
                    width: 450px;
                    height: 350px;
                    overflow: hidden;

                    @include breakpoint-min(768){
                        width: 300px;
                        height: 200px;
                    }
                    @include breakpoint-min(992){
                        width: 400px;
                        height: 300px;
                    }
                    @include breakpoint-min(1200){
                        width: 450px;
                        height: 350px;
                    }
                    @include breakpoint-min(1400){
                        width: 500px;
                        height: 400px;
                    }
    
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        & .wrapInfo{
            @include setFlex(column, start, start);
            position: relative;
            margin: 10px 10px;
            padding: 20px 20px 20px 0;
            width: 100%;
            height: 100%;

            @include breakpoint-min(1200){
                margin: 25px 25px;
            }
            @include breakpoint-min(1400){
                margin: 30px 10px;
            }

            &::after{
                display: block;
                position: absolute;
                width: 200vw;
                height: 100%;
                padding: 0;
                content: "";
                right: -50%;
                top: 0;
                z-index: -1;
                background-color: rgb(250, 250, 250);
                overflow: hidden;

                @include breakpoint-min(1200){
                    right: 0;
                }
            }

            &>h1{
                width: 70%;
                font-size: 1.5em;
                font-weight: 900;
                color: var(--vert-lime);

                @include breakpoint-min(1400){
                    font-size: 2em;
                }
            }
            &>h3{
                margin: 30px 0;
                font-size: 1em;
                font-weight: 300;
                color: var(--gris-fonce);
            }
            & .type{
                @include setFlex(row, start, start);
                margin-bottom: 8px;
                & p{
                    margin: 0 20px 0 5px;
                    font-weight: 700;
                }
            }
            &>h2{
                @include setFlex(row, center, start);
                margin: 0;
                font-size: 1em;
                font-weight: 600;
                color: black;
            }
            &>p{
                margin: 15px 0;
                text-align: justify;
            }
            & .interesse{
                @include setFlex(row, center, start);
                margin: 0 auto;

                @include breakpoint-min(768){
                    @include setFlex(column, center, center);
                    
                }
                @include breakpoint-min(992){
                    @include setFlex(row, center, start);
                    margin: 0;
                }

                &>h2{
                    @include setFlex(row, center, center);
                    margin: 0 0 5px 0;
                    font-size: 1em;
                    font-weight: 600;
                    color: black;
                    
                    &>span{
                        padding: 0 10px 0 30px;

                        @include breakpoint-min(768){
                            padding: 0;
                        }
                        @include breakpoint-min(992){
                            padding: 0 10px 0 30px;
                        }
                    }
                }
            }

            & .wrapPrix{
                @include setFlex(column, center, center);
                position: absolute;
                min-width: 75px;
                top: 10px;
                right: 10px;
                padding: 5px;
                background-color: var(--gris-fonce);

                @include breakpoint-min(768){
                    top: -10px;
                    padding: 7px;
                }
                @include breakpoint-min(992){
                    right: 10px;
                    padding: 10px;
                }
                @include breakpoint-min(1400){
                    top: -20px;
                    right: 20px;
                    padding: 20px;
                }

                &>h1{
                    font-size: 1em;
                    font-weight: 900;
                    color: white;

                    @include breakpoint-min(992){
                        font-size: 1.3em;
                    }
                    @include breakpoint-min(1400){
                        font-size: 1.5em;
                    }
                }
                &>h2{
                    @include setFlex(row, start, start);
                    flex-wrap: nowrap;
                    font-size: 0.5em;
                    font-weight: 600;
                    color: white;

                    @include breakpoint-min(992){
                        font-size: 0.8em;
                    }
                    @include breakpoint-min(1400){
                        font-size: 1em;
                    }
                }
            }
        }

        
    }
}

.swiper-button-next, .swiper-button-prev{    
    padding: 40% 30px !important;
    margin: 0 !important;
    top: 0 !important;
    bottom: 0 !important;

    &::after{
        color: white !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--gris-fonce);
        width: 100px !important;
    }
}
.swiper-button-next{
    right: 0 !important;
}
.swiper-button-prev{
    left: 0 !important;
}
.swiper-pagination{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.swiper-pagination-bullet-active{
    background-color: var(--vert-lime) !important;
    opacity: 1 !important;
}