// = = = = = = = = = = = = = = = = = = = = = = = = =
//  Auteur : Olivier Daigneault
// = = = = = = = = = = = = = = = = = = = = = = = = =

.interface{
    @include setFlex(row, start, start);
    width: 100vw;

    & .contenu{
        width: 100%;
        margin-left: 115px;
    }
}