// = = = = = = = = = = = = = = = = = = = = = = = = =
//  Auteur : Olivier Daigneault
// = = = = = = = = = = = = = = = = = = = = = = = = =

.interface{
    @include setFlex(row, start, start);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

    & .contenu{
        width: 100%;
        margin-top: 100px;
        margin-left: 0;

        @include breakpoint-min(768){
            margin-top: 0;
            margin-left: 115px;
        }
    }
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}



img {
    pointer-events: none;
    user-select: none;
  }