.vignette-logement{
    @include setFlex(row, start, center);
    position: relative;
    width: 60%;
    margin: 30px;
    border: red 1px solid;

    //maybe too much --- a voir
    // box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.1);

    & .wrapImg{
        width: 250px;

        & img{
            width: 100%;
            object-fit: cover;
        }
    }

    & .wrapInfo{
        @include setFlex(column, start, space-around);
        margin: 5px 10px;
    }

    & .wrapPrix{
        @include setFlex(column, center, center);
        position: absolute;
        top: -15px;
        right: 15px;
        width: 100px;
        height: 75px;

        background-color: chartreuse;
    }
}