// = = = = = = = = = = = = = = = = = = = = = = = = =
//  Auteur : Olivier Daigneault
// = = = = = = = = = = = = = = = = = = = = = = = = =

.vignette-logement{
    @include setFlex(row, start, center);
    position: relative;
    width: 95%;
    height: 150px;
    margin: 15px 0;
    border-radius: 50px 0 0 0;
    background-color: white;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.1);

    @include breakpoint-min(992){
        height: 150px;
        margin: 20px 0;
    }
    @include breakpoint-min(1200){
        height: 200px;
        margin: 25px 0;
    }
    @include breakpoint-min(1400){
        height: 250px;
        margin: 30px 0;
    }

    &::after{
        display: none;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-radius: 50px 0 0 0;
        background-color: rgba(0, 0, 0, 0.04);
    }

    &:hover{
        box-shadow: 5px 5px 5px rgba(102, 153, 51, 0.5);
        
        &::after{
            display: block;
        }

        & .wrapImg{

            & img{
                transition-duration: 0.3s;
                transform: scale(1.1);
            }
        }
        
        & .wrapInfo{
         
            & h2{
                transition-duration: 0.3s;
                color: var(--vert-lime);
                z-index: 100;
            }
        }
        
        & .wrapPrix{
            transition-duration: 0.3s;
            background-color: var(--vert-lime);
            border-radius: 20px;
        }
    }

    &>.wrapImg{
        @include setFlex(column, center, center);
        width: auto;
        width: 200px;
        height: 150px;
        overflow: hidden;
        border-radius: 50px 0 0 0;

        @include breakpoint-min(1200){
            width: 250px;
            height: 200px;
        }
        @include breakpoint-min(1400){
            width: 300px;
            height: 250px;
        }

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .wrapInfo{
        @include setFlex(column, start, space-around);
        margin: 10px 10px;
        width: auto;
        font-size: 1em;
        width: 50%;

        @include breakpoint-min(992){
            width: 70%;
        }

        & h2{
            font-size: 1.2em;
            font-weight: 700;
            margin-bottom: 4px;

            @include breakpoint-min(1200){
                font-size: 1.5em;
            }
            @include breakpoint-min(1400){
                font-size: 2em;
            }
        }
        & h3 {
            width: 50%;
            font-size: 0.6em;
            font-weight: 300;
            margin-bottom: 20px;
            color: var(--gris-fonce);

            @include breakpoint-min(1200){
                font-size: 0.8em;
            }
            @include breakpoint-min(1400){
                font-size: 1em;
            }
        }

        & .type{
            @include setFlex(row, start, start);
            margin-bottom: 8px;
            & p{
                margin: 0 20px 0 5px;
                font-weight: 700;
            }
        }
        &>p:last-of-type{
            display: none;
            position: relative;
            width: 100%;
            overflow: hidden;
            text-align: justify;
            font-size: 0.7em;
            
            @include breakpoint-min(992){
                display: block;
                max-height: 35px;
            }
            @include breakpoint-min(992){
                max-height: 50px;
            }
            @include breakpoint-min(1400){
                max-height: 75px;
                font-size: 0.9em;
            }

            &::after{
                display: block;
                position: absolute;
                content: "";
                height: 20px;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            }
        }
    }

    & .wrapPrix{
        @include setFlex(column, center, center);
        position: absolute;
        top: -15px;
        right: 15px;
        padding: 5px;
        z-index: 10;
        background-color: var(--gris-fonce);

        
        @include breakpoint-min(992){
            padding: 7px;
        }
        @include breakpoint-min(1200){
            padding: 10px;
        }

        & p{
            margin: 0;
            font-size: 0.5em;
            color: white;

            @include breakpoint-min(1200){
                font-size: 0.8em;
            }
            @include breakpoint-min(1400){
                font-size: 1.1em;
            }

            &:first-of-type{
                font-size: 0.8em;
                font-weight: 700;

                @include breakpoint-min(1400){
                    font-size: 1.1em;
                }
                @include breakpoint-min(1400){
                    font-size: 1.3em;
                }
            }
        }
    }
}